@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.socialbuttons {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 10px;
}

/* only large screens */
@media only screen and (min-width: 1280px) {
  .socialbuttons {
    position: absolute;
    flex-direction: column;
    left: 0;
    bottom: 50vh;
    z-index: 100000;
    justify-content: start;
    align-items: flex-start;
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }
}
/* medium screens and larger */
@media only screen and (min-width: 768px) {
  .submenu:hover .submenu-context {
    display: block;
  }
}
/* smaller than medium md: */
@media only screen and (max-width: 768px) {
  .hidemenu {
    display: none;
  }
}
