@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px) {
  .submenu:hover .submenu-context {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .hidemenu {
    display: none;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}
